@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    color: #14213D;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: max(20%, 384px);
    height: 70%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow:
    0  5px 10px grey,
    0 15px 40px grey;
    opacity: 0.9;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
}

.display-calc, .display-result {
    color: #E5E5E5;
    margin-left: auto;
    margin-right: 10%;
}

.display-calc {
    font-size: 1.5rem;
    margin-top: auto;
    opacity: 0.6;
}

.display-result {
    font-size: 2.5vw;
}

#calculations {

}

#result {


}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-top: auto;
    margin-bottom: 1.5rem;
    width: 85%;
    height: 60%;
    border-radius: 10px;
}
.calculator button {
    width: 19%;
    height: 15%;
    border-radius: 50%;
    margin: 0 2.5% 5%;
    font-size: 1.5rem;
}

.calculator button:hover {
    transition-duration: 0.3s;
    background-color: #E5E5E5;
    opacity: 0.8;

  }

.calculator button:active {
    transition-duration: 0.1s;
    opacity: 0.5;
    transform: translateY(2px);
}

.button-number {
    background-color: #171717;
    color: #8A8A8A;
}

.button-operation {
    background-color: #14213D;
    color: #8A8A8A;
}

.button-all-clear, .button-delete, .button-clear {
    color: #FCA311;
    background-color: #171717;
}

.button-equals {
    color: #171717;
    background-color: #FCA311;
}
